<html>
	<head>
		<title>Homepage</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div>
			<h1><%= title %></h1>
			<% messages.map((message) => { %>
			<div class="messageContainer">
				<div class="messageAuthor">
					<div><%= message.user %></div>
					<div class="messageRedirect">
						<a class="button" href="/message/<%= message.id %>"
							>View message</a
						>
					</div>
				</div>
				<div class="messageDateTime">
					(<%= message.added.toLocaleString() %>)
				</div>
				<div class="messageText"><%=message.text %></div>
			</div>
			<% }); %>
			<div><a class="button" href="/new">Add new message</a></div>
		</div>
	</body>
</html>
