<html>
	<head>
		<title>Homepage</title>
	</head>
	<body>
		<div>
			<h1><%= title %></h1>
			<a href="/new">Add new message</a>
			<% messages.map((message) => { %>
			<p>
				<%= message.user %> (<%= message.added.toLocaleString() %>): <%=
				message.text %>
			</p>
			<a href="/message/<%= message.id %>">Open</a>
			<% }); %>
		</div>
	</body>
</html>
